
.DS_Store
.DS_Store
.vs/YemekOnerici/v15/Server/sqlite3/db.lock
.vs/YemekOnerici/v15/Server/sqlite3/storage.ide
.vs/YemekOnerici/v15/Server/sqlite3/storage.ide-shm
LoginApp/baglantiYardimcisi.cs
.vs/YemekOnerici/v16/Server/sqlite3/storage.ide
.vs/YemekOnerici/v16/Server/sqlite3/storage.ide-shm
.vs/YemekOnerici/v16/Server/sqlite3/storage.ide-wal
.vs/YemekOnerici/v16/.suo
.vs/YemekOnerici/v16/Server/sqlite3/storage.ide
.vs/YemekOnerici/v16/Server/sqlite3/storage.ide-shm
.vs/YemekOnerici/v16/Server/sqlite3/storage.ide-wal
LoginApp/bin/Debug/YemekOnerici.exe
LoginApp/bin/Debug/YemekOnerici.pdb
LoginApp/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
LoginApp/obj/x86/Debug/YemekOnerici.csproj.GenerateResource.cache
LoginApp/obj/x86/Debug/YemekOnerici.csprojAssemblyReference.cache
LoginApp/obj/x86/Debug/YemekOnerici.exe
LoginApp/obj/x86/Debug/YemekOnerici.pdb
